# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# TypeScript
dist/
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/*.sqlite
prisma/migrations/

# Docker
*.local
*.pid
*.seed
*.pid.lock

# VSCode e editores
.vscode/
.idea/
*.swp

# Logs
logs
*.log
*.log.*

# System
.DS_Store
Thumbs.db
